<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppSystem.styles.css" asp-append-version="true" /> *@

    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Medinova - Health & Medical HTML Template"/>
<meta name="keywords" content="ERP, PDV, Desenvolviemnto de softwares"/>
<meta name="author" content="ThemeMascot"/>

<!-- Page Title -->
<title>App System</title>

@* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
<!-- Favicon and Touch Icons -->
<link href="images/LogoAppSystem.png" rel="shortcut icon" type="image/png">
<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.min.css" rel="stylesheet" type="text/css">
<link href="css/javascript-plugins-bundle.css" rel="stylesheet"/>

<!-- CSS | menuzord megamenu skins -->
<link href="js/menuzord/css/menuzord.css" rel="stylesheet"/>

<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>

<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->

<!-- CSS | Dark Layout -->
<link href="css/style-main-dark.css" rel="stylesheet" type="text/css">

<!-- CSS | Theme Color -->
<link href="css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">



<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="js/revolution-slider/css/rs6.css">
<link rel="stylesheet" type="text/css" href="js/revolution-slider/extra-rev-slider1.css">


</head>
<body class="tm-container-1300px dark-layout has-side-panel side-panel-right">
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAppSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-widget-area">
        <div class="container pt-90 pb-60">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <!-- Usando a tag <center> para centralizar o conteúdo -->
                    <center>
                        <div class="tm-widget-contact-info contact-info-style1 contact-icon-theme-colored1">
                            <div class="thumb">
                                <img alt="Logo" src="images/LogoAppSystem.png" width="100" height="auto">
                            </div>
                            <div class="description">
                                APP System 

                            <p>A tecnologia que sua empresa precisa para crescer.</p>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" data-tm-bg-color="#2A2A2A">
        <div class="container">
            <div class="row pt-20 pb-20">
                <div class="col-sm-6">
                    <div class="footer-paragraph">
                        © App System - Todos direitos reservados.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



 @*   <!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-widget-area"  >
        <div class="container pt-90 pb-60" >
            <div class="row" >
                <div class="col-md-12 col-lg-12 col-xl-2" >
                    <div class="tm-widget-contact-info contact-info-style1 contact-icon-theme-colored1">
                        <div class="thumb" >
                            <img  alt="Logo" src="images/LogoAppSystem.png">
                        </div>
                        <div class="description">203, Envato Labs, Behind Alis Steet, Melbourne, Australia.immersion along the information close the loop on focusing</div>
                    </div>
                    @* <ul class="styled-icons icon-dark icon-theme-colored1 icon-rounded clearfix">
                        <li><a class="social-link" href="#" ><i class="fab fa-facebook"></i></a></li>
                        <li><a class="social-link" href="#" ><i class="fab fa-twitter"></i></a></li>
                        <li><a class="social-link" href="#" ><i class="fab fa-youtube"></i></a></li>
                        <li><a class="social-link" href="#" ><i class="fab fa-instagram"></i></a></li>
                    </ul> 
                </div>
                @* <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget">
                        <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Latest News</h4>
                        <div class="latest-posts">
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="news-details.html"><img src="images/blog/square1.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="news-details.html">Sustainable Construction</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">April 15, 2021</time>
                                    </span>
                                </div>
                            </article>
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="news-details.html"><img src="images/blog/square2.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="news-details.html">Industrial Coatings</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">April 15, 2021</time>
                                    </span>
                                </div>
                            </article>
                            <article class="post clearfix pb-0 mb-20">
                                <a class="post-thumb" href="news-details.html"><img src="images/blog/square3.jpg" alt="images"></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0"><a href="news-details.html">Storefront Installations</a></h5>
                                    <span class="post-date">
                                        <time class="entry-date" datetime="2021-05-15T06:10:26+00:00">April 15, 2021</time>
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget widget_nav_menu split-nav-menu clearfix">
                        <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Links</h4>
                        <ul>
                            <li><a href="index-mp-layout1.html">Insurance</a></li>
                            <li><a href="index-mp-layout1.html">About</a></li>
                            <li><a href="index-mp-layout1.html">Get a Quote</a></li>
                            <li><a href="index-mp-layout1.html">Latest Post</a></li>
                            <li><a href="index-mp-layout1.html">Industries</a></li>
                            <li><a href="index-mp-layout1.html">Contact</a></li>
                            <li><a href="index-mp-layout1.html">Help</a></li>
                            <li><a href="index-mp-layout1.html">Privacy Policy</a></li>
                            <li><a href="index-mp-layout1.html">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget">
                        <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Opening Hours</h4>
                        <div class="opening-hours border-dark">
                            <ul>
                                <li class="clearfix"> <span> Friday - Saturday :  </span>
                                    <div class="value"> 10.00 am - 6.00 pm </div>
                                </li>
                                <li class="clearfix"> <span> Monday - Thusday :</span>
                                    <div class="value"> 8.00 am - 9.00 pm </div>
                                </li>
                                <li class="clearfix"> <span> Sunday : </span>
                                    <div class="value"> Closed </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="footer-bottom" data-tm-bg-color="#2A2A2A">
            <div class="container">
                <div class="row pt-20 pb-20">
                    <div class="col-sm-6">
                        <div class="footer-paragraph">
                            © App System - Todos direitos reservados.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-paragraph text-right">
                            Site Template
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</footer>*@

<script src="js/jquery.js"></script>
<script src="js/custom.js"></script>
<!-- REVOLUTION LAYERS STYLES -->
<!-- REVOLUTION JS FILES -->
<script src="js/revolution-slider/js/revolution.tools.min.js"></script>
<script src="js/revolution-slider/js/rs6.min.js"></script>
<script src="js/revolution-slider/extra-rev-slider1.js"></script>

<!-- external javascripts -->

<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/javascript-plugins-bundle.js"></script>
<script src="js/menuzord/js/menuzord.js"></script>
@*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
